@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 93.8%;
}

body {
  font-family: 'Overpass', sans-serif;
}

button {
  border-width: 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #121417;
}

.card-star, .card-rate__list {
  width: clamp(2rem, 12vw, 3.5rem);
  height: clamp(2rem, 12vw, 3.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252d37;
  border-radius: 50%;
}

.card {
  max-width: 415px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-47.11%, #252d37), color-stop(145.78%, #121417));
  background: linear-gradient(180deg, #252d37 -47.11%, #121417 145.78%);
  margin: 0 1rem;
  border-radius: clamp(1rem, 1.5vw, 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-star {
  margin: 1.5rem 1.5rem 1rem;
}

.card-title {
  font-weight: 600;
  color: white;
  font-size: clamp(1.5rem, 4vw, 1.75rem);
  margin: 0 2rem 0.75rem;
}

.card-body {
  font-weight: 400;
  color: #959eac;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  margin: 0 2rem 2rem;
  line-height: 1.625rem;
}

.card-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem 2rem;
}

.card-rate__list {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  color: #7c8798;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.card-rate__list:hover {
  background-color: #fb7413;
  color: white;
}

.card-rate .active {
  background-color: #7c8798;
  color: white;
}

.card-btn {
  margin: 0 2rem 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 400;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  letter-spacing: 0.15rem;
  color: white;
  background-color: #fb7413;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.card-btn:hover {
  color: #fb7413;
  background-color: white;
}

.card-illustration {
  max-width: 50%;
  height: auto;
  margin: 3rem 0 2rem;
}

.thank-you {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thank-you .card-body {
  text-align: center;
  margin-bottom: 2rem;
}

.thank-you .card-submition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thank-you .card-submition .card-body {
  background-color: #252d37;
  color: #fb7413;
  padding: 0.625rem 1.25rem;
  border-radius: 2rem;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */