@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.8%;
}

body {
  font-family: 'Overpass', sans-serif;
}

button {
  border-width: 0;
}
